In [1]:
import pandas as pd
df = pd.read_csv("./data/e2e_table.csv")
display(df)

,dataset,type,acc,mean_s,sum_s,bandwidth_GB,mean_factor,bw_factor
0,CIFAR Large,linf_opt,0.8478,130.663239,20906.118239,102.76,6,25
1,CIFAR Large,plain,0.8605,21.204623,3392.739623,4.19,1,1
2,CIFAR Small,l2,0.6033,280.169505,28016.950505,34.77,153,37
3,CIFAR Small,l2_opt,0.5840,53.172343,5317.234343,6.73,29,7
4,CIFAR Small,linf,0.6038,251.270364,25127.036364,23.34,137,25
5,CIFAR Small,linf_opt,0.6045,37.942172,3794.217172,23.34,21,25
6,CIFAR Small,plain,0.6058,1.830131,183.013131,0.95,1,1
7,MNIST,l2,0.9854,131.060289,20969.646289,10.75,63,37
8,MNIST,l2_opt,0.9741,26.269918,4203.186918,2.81,13,10
9,MNIST,linf,0.9873,121.910314,19505.650314,7.21,58,25
10,MNIST,linf_opt,0.9854,19.761667,3161.866667,7.21,9,25
11,MNIST,plain,0.9873,2.093346,334.935346,0.29,1,1

In [2]:
import numpy as np

# Add extrapolated values
cifar_large_linf_ext_timings_sec = [2233, 2193, 2230, 2210]
mobilenet_linf_ext_timings_sec = [4456, 4485]

timings = {
    'CIFAR Large': [2233, 2193, 2230, 2210],
    'MobileNet': [4456, 4485]
}

rounds = {
             'CIFAR Large': 160,
             'MobileNet': 160
         }

to_extrapolate = ['CIFAR Large'] #, 'MobileNet']

for ext in to_extrapolate:
    base_row = df[(df['dataset'] == ext) & (df['type'] == 'linf_opt')]
    factor_row = df[(df['dataset'] == ext) & (df['type'] == 'plain')]

    mean_s = np.mean(timings[ext])
    sum_s = mean_s * float(rounds[ext])
    bw = base_row['bandwidth_GB'].item()

    mean_factor = int(round(mean_s / factor_row['mean_s'].item(), 0))
    bw_factor = int(round(bw / factor_row['bandwidth_GB'].item(), 0))

    df_extrapolated = pd.DataFrame(
        [
            ['CIFAR Large', 'linf_ext', base_row['acc'].item(), mean_s, sum_s,
             bw, mean_factor, bw_factor]
        ], columns=['dataset', 'type', 'acc', 'mean_s', 'sum_s',
                                      'bandwidth_GB', 'mean_factor', 'bw_factor']
    )
    df = df.append(df_extrapolated)

display(df)

,dataset,type,acc,mean_s,sum_s,bandwidth_GB,mean_factor,bw_factor
0,CIFAR Large,linf_opt,0.8478,130.663239,20906.118239,102.76,6,25
1,CIFAR Large,plain,0.8605,21.204623,3392.739623,4.19,1,1
2,CIFAR Small,l2,0.6033,280.169505,28016.950505,34.77,153,37
3,CIFAR Small,l2_opt,0.5840,53.172343,5317.234343,6.73,29,7
4,CIFAR Small,linf,0.6038,251.270364,25127.036364,23.34,137,25
5,CIFAR Small,linf_opt,0.6045,37.942172,3794.217172,23.34,21,25
6,CIFAR Small,plain,0.6058,1.830131,183.013131,0.95,1,1
7,MNIST,l2,0.9854,131.060289,20969.646289,10.75,63,37
8,MNIST,l2_opt,0.9741,26.269918,4203.186918,2.81,13,10
9,MNIST,linf,0.9873,121.910314,19505.650314,7.21,58,25
10,MNIST,linf_opt,0.9854,19.761667,3161.866667,7.21,9,25
11,MNIST,plain,0.9873,2.093346,334.935346,0.29,1,1
0,CIFAR Large,linf_ext,0.8478,2216.500000,354640.000000,102.76,105,25

In [3]:
# Temporary, append mobilenet
df_mobile = df[df['dataset'] == 'CIFAR Large']
df_mobile['dataset'] = 'MobileNet'

df = df.append(df_mobile)

display(df)

/Users/hidde/opt/anaconda3/envs/tf37_standard/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,dataset,type,acc,mean_s,sum_s,bandwidth_GB,mean_factor,bw_factor
0,CIFAR Large,linf_opt,0.8478,130.663239,20906.118239,102.76,6,25
1,CIFAR Large,plain,0.8605,21.204623,3392.739623,4.19,1,1
2,CIFAR Small,l2,0.6033,280.169505,28016.950505,34.77,153,37
3,CIFAR Small,l2_opt,0.5840,53.172343,5317.234343,6.73,29,7
4,CIFAR Small,linf,0.6038,251.270364,25127.036364,23.34,137,25
5,CIFAR Small,linf_opt,0.6045,37.942172,3794.217172,23.34,21,25
6,CIFAR Small,plain,0.6058,1.830131,183.013131,0.95,1,1
7,MNIST,l2,0.9854,131.060289,20969.646289,10.75,63,37
8,MNIST,l2_opt,0.9741,26.269918,4203.186918,2.81,13,10
9,MNIST,linf,0.9873,121.910314,19505.650314,7.21,58,25
10,MNIST,linf_opt,0.9854,19.761667,3161.866667,7.21,9,25
11,MNIST,plain,0.9873,2.093346,334.935346,0.29,1,1
0,CIFAR Large,linf_ext,0.8478,2216.500000,354640.000000,102.76,105,25
0,MobileNet,linf_opt,0.8478,130.663239,20906.118239,102.76,6,25
1,MobileNet,plain,0.8605,21.204623,3392.739623,4.19,1,1
0,MobileNet,linf_ext,0.8478,2216.500000,354640.000000,102.76,105,25

In [6]:
header = r"""
\begin{table}
    \centering
    \resizebox{\columnwidth}{!}{%
    \begin{tabular}{lrcrrrcrr}
        \toprule
             &                && \multicolumn{3}{c}{Computation Time} & & \multicolumn{2}{c}{Bandwidth} \\
             \cline{4-6}\cline{8-9}
        Type & Acc. && Round [s] & Total [m] & Factor & & Total [GB] & Factor \\"""


mnist_header = r"""        \toprule
        \multicolumn{9}{c}{\textsc{MNIST} (19k params, rsl 5k params, 160 rounds)} \\"""

cifar_small_header = r"""        \toprule
        \multicolumn{9}{c}{\textsc{CIFAR-10 S} (62k params, rsl 12k params, 100 rounds)} \\"""

cifar_large_header = r"""        \toprule
        \multicolumn{9}{c}{\textsc{CIFAR-10 L} (273k params, 160 rounds)} \\"""

mobilenet_large_header = r"""        \toprule
        \multicolumn{9}{c}{\textsc{MobileNet} (700k params, 160 rounds)} \\"""

footer = r"""        \bottomrule
    \end{tabular}
    }
\end{table}
"""

type_order = {
    "plain": 0,
    "l2": 1,
    "l2_opt": 2,
    "linf": 3,
    "linf_opt": 4
}

df['type_order'] = df['type'].map(type_order)
df = df.sort_values(by=["dataset", "type_order"])

type_print = {
    "plain": r"plain",
    "l2": r"$L_2$",
    "l2_opt": r"$L_2^{(rsl)}$",
    "linf": r"$L_\infty$",
    "linf_opt": r"$L_\infty^{(p)}$",

    "linf_ext": r"$L_\infty$",
}

type_extrapolated = [
    "linf_ext"
]


def format_row(x):
    if x.type in type_extrapolated:
        return fr"{type_print[x.type]} * & {round(x.acc, 2):.2f} & & {round(x.mean_s)} & {round(x.sum_s/60)} & {x.mean_factor}x & & {round(x.bandwidth_GB,1)} & {x.bw_factor}x \\"

    # total_time = f"{round(x.sum_s/60)}m" if round(x.sum_s/60) > 0 else f"{round(x.sum_s)}s"
    return fr"{type_print[x.type]} & {round(x.acc, 2):.2f} & & {round(x.mean_s)} & {round(x.sum_s/60)} & {x.mean_factor}x & & {round(x.bandwidth_GB,1)} & {x.bw_factor}x \\"

# PRINT THE LATEX TABLE

print(header)

print(mnist_header)


for row in df[df["dataset"]=="MNIST"].itertuples():
    print("        " + format_row(row))

print(cifar_small_header)
    
for row in df[df["dataset"]=="CIFAR Small"].itertuples():
    print("        " + format_row(row))

print(cifar_large_header)
    
for row in df[df["dataset"]=="CIFAR Large"].itertuples():
    print("        " + format_row(row))

# print(mobilenet_large_header)
#
# for row in df[df["dataset"]=="MobileNet"].itertuples():
#     print("        " + format_row(row))
    
print(footer)

\begin{table}
    \centering
    \resizebox{\columnwidth}{!}{%
    \begin{tabular}{lrcrrrcrr}
        \toprule
             &                && \multicolumn{3}{c}{Computation Time} & & \multicolumn{2}{c}{Bandwidth} \\
             \cline{4-6}\cline{8-9}
        Type & Acc. && Round [s] & Total [m] & Factor & & Total [GB] & Factor \\
        \toprule
        \multicolumn{9}{c}{\textsc{MNIST} (19k params, rsl 5k params, 160 rounds)} \\
        plain & 0.99 & & 2 & 6 & 1x & & 0.3 & 1x \\
        $L_2$ & 0.99 & & 131 & 349 & 63x & & 10.8 & 37x \\
        $L_2^{(rsl)}$ & 0.97 & & 26 & 70 & 13x & & 2.8 & 10x \\
        $L_\infty$ & 0.99 & & 122 & 325 & 58x & & 7.2 & 25x \\
        $L_\infty^{(p)}$ & 0.99 & & 20 & 53 & 9x & & 7.2 & 25x \\
        \toprule
        \multicolumn{9}{c}{\textsc{CIFAR-10 S} (62k params, rsl 12k params, 100 rounds)} \\
        plain & 0.61 & & 2 & 3 & 1x & & 1.0 & 1x \\
        $L_2$ & 0.60 & & 280 & 467 & 153x & & 34.8 & 37x \\
        $L_2^{(rsl)}$ & 0.58 & & 53 & 89 & 29x & & 6.7 & 7x \\
        $L_\infty$ & 0.60 & & 251 & 419 & 137x & & 23.3 & 25x \\
        $L_\infty^{(p)}$ & 0.60 & & 38 & 63 & 21x & & 23.3 & 25x \\
        \toprule
        \multicolumn{9}{c}{\textsc{CIFAR-10 L} (273k params, 160 rounds)} \\
        plain & 0.86 & & 21 & 57 & 1x & & 4.2 & 1x \\
        $L_\infty^{(p)}$ & 0.85 & & 131 & 348 & 6x & & 102.8 & 25x \\
        $L_\infty$ * & 0.85 & & 2216 & 5911 & 105x & & 102.8 & 25x \\
        \bottomrule
    \end{tabular}
    }
\end{table}